        <div class="hero-text-box">
            <h1>Tandoor grill</h1>
            <h3>Welcome to the taste of india</h3>
            <a class="btn btn-full js--scroll-to-gallery" href="#">I'm hungry</a>
            <a class="btn btn-ghost js--scroll-to-top" href="#">show me more</a>
            </div>
        </header>
        
         <section class="section group js--section-features">
            <div class="row">
            <h2>get food fast &mdash; not fast food</h2>
            <p>Hello we're Tandoor grill.we know u are always busy lets take care of it</p>
            </div>
	<div class="col span_1_of_4">
        <i class="ion-ios-infinite-outline icon-big"></i>
        <h3>upto 365 days</h3>
        <p>7 days a week we really mean that. our subscription plan include upto 365 days coverage<p>
	</div>
	<div class="col span_1_of_4">
        <i class="ion-ios-stopwatch-outline icon-big"></i>
	<h3>Ready in 20 minutes</h3>
        <p>order online we deliver super healthy food right at your home.we work with the best chefs in town to ensure you are 100% happy</p>
	</div>
	<div class="col span_1_of_4">
        <i class="ion-ios-nutrition-outline icon-big"></i>
	<h3>100% delicious</h3>
        <p>all our vegetables are 100% organic and local.good for your health</p>
	</div>
	<!--<div class="col span_1_of_4">
        <i class="ion-ios-cart-outline icon-big"></i>
	<h3>order anything</h3>
        <p>Order from our menu containing over 100 delicious meals</p>
	</div>-->
</div>
        </section> 
    <section class="section-meals js--section-gallery">
        <ul class="meals-showcase">
            <li>
                <figure class="meal-photo">
                    <img src="resources/images/image1.jpg"
            </figure>
            </li>
                <li>
                <figure class="meal-photo">
                    <img src="resources/images/image2.jpg"
            </figure>
            </li>
                    <li>
                <figure class="meal-photo">
                    <img src="resources/images/image3.jpg"
            </figure>
            </li>
                        <li>
                <figure class="meal-photo">
                    <img src="resources/images/image5.jpeg"
            </figure>
            </li>
        </ul>
        <ul class="meals-showcase">
            <li>
                <figure class="meal-photo">
                    <img src="resources/images/image6.jpg"
            </figure>
            </li>
                <li>
                <figure class="meal-photo">
                    <img src="resources/images/image7.jpg"
            </figure>
            </li>
                    <li>
                <figure class="meal-photo">
                    <img src="resources/images/image8.jpg"
            </figure>
            </li>
                        <li>
                <figure class="meal-photo">
                    <img src="resources/images/image9.jpg"
            </figure>
            </li>
        </ul>
     </section>
    <section class="section-cities">
        <div class="row">
            <h2> we're currently in these cities</h2>
        </div>
            <div class="city">
            <img src="resources/images/city4.jpg"/>
            <h3>Delhi</h3>
            <div class="city-features">
            <i class="ion-ios-star icon-small"></i>
            30+ top chefs
            </div>
            
            <div class="city-features">
            <i class="ion-social-twitter icon-small"></i>
                <a href="#">@tandoor_ix</a>
            </div>
            
            
            <div class="city-features">
            <i class="ion-ios-person icon-small"></i>
            8000+ happy eaters
                </div>
                </div>
            <div class="city">
            <img src="resources/images/city2.jpg"/>
            <h3>mumbai</h3>
            <div class="city-features">
            <i class="ion-ios-star icon-small"></i>
            60+ top chefs
            </div>
            
            <div class="city-features">
            <i class="ion-social-twitter icon-small"></i>
                <a href="#">@tandoor_ix</a>
            </div>
            
            
            <div class="city-features">
            <i class="ion-ios-person icon-small"></i>
            9000+ happy eaters
                </div>
            </div>
            <div class="city">
            <img src="resources/images/city1.jpg"/>
            <h3>chennai</h3>
            <div class="city-features">
            <i class="ion-ios-star icon-small"></i>
            60+ top chefs
            </div>
            
            <div class="city-features">
            <i class="ion-social-twitter icon-small"></i>
                <a href="#">@tandoor_ix</a>
            </div>
            
            
            <div class="city-features">
            <i class="ion-ios-person icon-small"></i>
            9000+ happy eaters
                </div>
            </div>
        <div class="city">
            <img src="resources/images/city5.jpg"/>
            <h3>chennai</h3>
            <div class="city-features">
            <i class="ion-ios-star icon-small"></i>
            60+ top chefs
            </div>
            
            <div class="city-features">
            <i class="ion-social-twitter icon-small"></i>
                <a href="#">@tandoor_ix</a>
            </div>
            
            
            <div class="city-features">
            <i class="ion-ios-person icon-small"></i>
            9000+ happy eaters
                </div>
        </div>
        
        
        </div>
    
    
    
    
    
    
    </section>
<section class="section-testimonials">
    <div class="row">
        <h2>Our Customers </h2>
    </div>
    <div class="testimonials">
        <blockquote> 
            Tandoor grill is awesome! i just started working full-timewhich leaves me no time for cooking,so tandoor grill is a life-saver.</br>
            <cite><img src="resources/images/test.jpg">Srivetha narayanamoorthy</cite>
        </blockquote>
    </div>
            <div class="testimonials">
        <blockquote> 
            Tandoor grill is awesome! i love it.And its one of my favourite place</br>
            <cite><img src="resources/images/test2.jpg">vikram</cite>
                </blockquote>
    </div>
</section>


<section class="section-form">
    <div class="row">
        <h2>We're happy to hear from you</h2>
    </div>
    <form id="simpleForm">
        <div>
        <label for="myName">Name:</label>
        <input type="text" name="myName" id="myName">
        </div>
        <div>
            <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        </div>
        
        <div>
            <label for="comments">Comments:</label>
            <textarea name="comments" id="comments"></textarea>
        
        </div>
            <div>
                <label for="find-us">How did you find us?</label>
            <select name="find-us" id="find-us">
                <option value="friends" selected>Friends</option>
                <option value="search engine">Search engine</option>
                <option value="ad">Advertisement</option>
                <option value="other">Other</option>
                </select>
            </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Send it!">
        </div>
        </form>
    </div>
    </section>