

/*----- basic setup*/
* {
    margin:0;
    padding:0;
    border-sizing: border-box;
}

html {
    background-color: #fff;
    color:#555;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    
    
    
}



.row {
    max-width: 1140px;
    margin: 0 auto;
    color:#fff;
}
/* header */


header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/background.jpg);
    background-size:cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;

    
}

.hero-text-box {
    position:absolute;
    width:1140px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.logo {
    height:50px;
    width: auto;
    float: left;
    margin-top: 5px 0;
}

/* nav */
.main-nav {
    float:right;
    list-style: none;
    margin-top: 55px;
    
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    text-decoration: none;
    /*color:#fff; */
    text-transform: uppercase;
    font-size:90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #d35400;
}

/* sticky navy */
.sticky {
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    background-color:rgba(255, 255, 255, 0.98); 
    z-index: 9999;
    color:black;

}
.sticky.main-nav li a:link,
.sticky.main-nav li a:visited{
    padding: 16px 0;
    text-decoration: none;
    color:orangered;
    
}
.main-nav {
    margin-top: 15px;
}
section {
    padding: 80px 0;
    
    
    
}




h1,h2 {
    
   
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}
h1{
    margin-top: 0;
    margin-bottom: 20px;
    color:#fff;
    font-size:240%;
    
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h2:after {
    display:block;
    height:2px;
    background-color: #d35400;
    content:" ";
    width:100px;
    margin: 0 auto;
    margin-top: 30px;
}

.row p {
    line-height: 145%
    width:70%;
    margin-left:25%;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}
/* ICONS */
.icon-big {
    font-size: 300%;
    display: block;
    color:#d35400;
    margin-bottom: 10px;
}
.icon-small {
    display:inline-block;
    width: 30px;
    text-align: center;
    color:#d35400;
    font-size:120%;
}
a:hover,
a:active {
    color:#555;
    border-bottom: 1px solid transparent;
}







/* buttons */

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration:none;
    border-radius: 200px;
    color:#fff;
    border: 1px solid #d35400;
    transtion: background-color 0.2s, border 0.2s, color 0.2s;
}



    

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #d35400;
    border: 1px solid #d35400;
     color:#fff;      
}

.btn-ghost:link,
.btn-ghost:visted {
    background-color: #d35400;
    border: 1px solid #d35400;
    color:#fff;
    
}

.btn:hover,
.btn:active
input[type=submit]:hover,
input[type=submit]:active, {
    background-color: #8f3900;
}
.btn-full:hover,
.btn-full:active{
    border: 1px solid #d35400;
           
}

.btn-ghost:hover,
.btn-ghost:active {
    
    border: 1px solid #d35400;
    color:#d35400;
    
} 
body
{
    background-color: black;
    font-family:cursive;
    font-weight:200;
    
}
/*.section-meals {
    padding:0;
}*/


.meals-showcase {
    list-style: none;
    width: 100%;
    
}
.meals-showcase li {
    display:block;
    float:left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
    
}
.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}
.city {
    display:inline-block;
    overflow: hidden;
    margin-left:40px;
    color:#fff;
    
}
.testimonials {
    display:inline-flex;
    width:auto;
    margin-left:20%;
    margin-right:30%;
    margin-top:30px;
    
}
.section-testimonials {
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/background3.jpg);
    background-size:cover;
    color:#fff;
    background-attachment: fixed;
}
blockquote {
    padding:2%;
    font-style:italic;
    line-height: 145%;
    position: relative;
}
cite {
    font-size: 90%;
}
blockquote:before {
    content: "\201C";
    font-size:200%;
    
}
cite img {
    height: 80px;
    border-radius: 70%;
    
}
/*forms */
label {
    float: left;
    width:150px;
    text-align:right;
    padding-right: 12px;
    margin-top: 15px;
    margin-bottom:5px;
    clear:left;

}
input, textarea {margin-top: 12px;}
#find-us {
    width:150px;
    padding-right:12px;
    margin-top: 12px;
    clear:left;
}
.section-form {
    color:chocolate;
    
}
#simpleForm {
    width:50%;
    margin: 0 auto;
}
input[type=text],
input[type=email],
select,
textarea {
    width: 70%;
    padding: 7px;
    border-radius: 3px;
    border:1px solid #ccc;
    font-family: serif;
    color: black;
}
/*FOOTER*/
footer {
    background-color:gray;
    color:black;
    padding:10px;
}
.footer-nav {
    list-style: none;
    float:left;
}
.navfoot{
    list-style:none;
    float:right;

}
.footer-nav li,
.navfoot li {
    display:inline-block;
    margin-right:20px;
}
footer p {
    text-align:center;
    font-size: 90%;
}
.view {
    background-color: white;
    color:black;
    text-align: center;
}






