<!DOCTYPE html>
<html>
<head><title>menu</title>
    <link href="style2.css" rel="stylesheet"/>
</head>
    <body>
        <section class="tagline">
            <div calss="conatiner">
                <h1>view our work</h1>
            </div>
         </section>
        <section>
            <div class="container1">
                <h1 id="heading">menu</h1>
                <ul id="gallery">
                    <li class="one" data-title="Thali"><a href="#" data-title="Thali" data-desc="combo:white rice,sambhar,pappad,spinach curry,potato curry." data-price= "$20"><img src="images/image2.jpg"</a></li>
                <li class="two"><a href="#" data-title="Thali" data-desc="combo:white rice,sambhar,pappad,spinach curry,potato curry." data-price= "$20"><img src="images/image2.jpg"</a></li>

                <li class="three"><a href="#"><img src="images/image3.jpg"</a></li>
                </ul>
                <ul id="gallery1">
                <li class="four"><a href="#"><img src="images/image4.jpg"</a></li>
                <li class="five"><a href="#"><img src="images/image5.jpeg"</a></li>
                <li class="six"><a href="#"><img src="images/image6.jpg"</a></li>
                </ul>
                <ul id="gallery2">
                <li class="seven"><a href="#"><img src="images/image7.jpg"</a></li>
                <li class="eight"><a href="#"><img src="images/image8.jpg"</a></li>  
                </ul>
            
            </div>
        </section>
        
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/script.js"></script>
    </body>




</html>